* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.quadrato {
    position: relative;
    cursor: pointer;
    padding: 25px;
    border: 1px solid black;
    font-size: 16px;
}

.quadrato p {
    position: absolute;
    transform: translate(-50%,-50%)
}

button {
    margin-bottom: 15px;
    padding: 15px 25px;
    background-color: black;
    color: white;
    border-radius: 15px;
}


/* classi che eventualmente si aggiungono grazie a js */
.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
/* end */
