* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.quadrato {
    position: relative;
    cursor: pointer;
    padding: 25px;
    border: 1px solid black;
    font-size: 16px;
}

.quadrato p {
    position: absolute;
    transform: translate(-50%,-50%)
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
