* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
}

.quadrato {
    cursor: pointer;
    position: relative;
    width: calc(100% / 6);
    height: calc(100% / 6);
    float: left;
    border: 1px solid black;
    font-size: 16px;
}

.quadrato p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    margin-bottom: 15px;
    padding: 15px 25px;
    background-color: black;
    color: white;
    border-radius: 15px;
}


/* classi che eventualmente si aggiungono grazie a js */
.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
/* end */
